{% extends "tracks/semester.html" %}

{% block table %}
<tr><td>ENGIN 112</td><td>ECE 122</td><td>ECE 211</td><td>ECE 212</td><td>ECE 313</td><td>ECE 314</td><td>ECE 415</td><td>ECE 416</td></tr>
<tr><td>PHYSICS 151</td><td>PHYSICS 152</td><td>ECE 242</td><td>ECE 232</td><td>ECE 323</td><td>ECE 374</td><td>CSE Elective</td><td>CSE Elective</td></tr>
<tr><td>MATH 131</td><td>MATH 132</td><td>MATH 331</td><td>MATH 235</td><td>ECE 353</td><td>ECE 354</td><td>CSE Elective</td><td>CSE Elective</td></tr>
<tr><td>ENGLWRIT 112</td><td>Gened</td><td>Gened</td><td>MATH 455</td><td>ECE 373</td><td>Thematic Elective</td><td>Thematic Elective</td><td>Gened</td></tr>
<tr><td>Gened</td><td>&nbsp;</td><td>Thematic Elective</td><td>BIOLOGY 102</td><td>ENGIN 351</td><td>ECE 303</td><td>Gened</td><td>Gened</td></tr>
{% endblock %}
