{% extends "base.html" %}

{% block title %} | Register{% endblock %}

{% block head %}
<link href="/static/css/schedr-listing.css" rel="stylesheet" type="text/css" />
<style>
table.register {
	margin:150px 200px;
	width:350px;
}
table.register td {
	font-size:11pt;
}
</style>
{% endblock %}

{% block content %}
{% if form %}
<form action="{{ request.path }}" method="POST" autocomplete="off">
<table class="register">
<tr><td align="right" valign="top">New Password:</td><td>{{ form.new_password1 }}<br/>{% for error in form.new_password1.errors %}<span style="color:red">{{ error }}</span>{% endfor %}</td></tr>
<tr><td align="right" valign="top">New Password (again):</td><td>{{ form.new_password2 }}<br/>{% for error in form.new_password2.errors %}<span style="color:red">{{ error }}</span>{% endfor %}</td></tr>
<tr><td>&nbsp;</td><td><input type="submit" value="Set Password"></td></tr>
</table>
</form>
{% else %}
<table class="register">
<tr><td align="center"><h2>This link has expired</h2></td></tr>
<tr><td align="center">If you still need to reset your password, click <a href="/account/password/reset">here</a>.</td></tr>
</table>
{% endif %}
{% endblock %}
