{% extends "base.html" %}

{% block title %} | Change Password{% endblock %}

{% block head %}
<link href="/static/css/schedr-listing.css" rel="stylesheet" type="text/css" />
<style>
table.register {
	margin:150px 200px;
	width:350px;
}
table.register td {
	font-size:11pt;
}
</style>
{% endblock %}

{% block content %}

<form action="" method="post">
<table class="register">
{{ form }}
<tr><td>&nbsp;</td><td><input type="submit" value="Change password"></td></tr>
</table>
</form>
{% endblock %}
