{% extends "base.html" %}

{% block title %} | Reset Password{% endblock %}

{% block head %}
<link href="/static/css/schedr-listing.css" rel="stylesheet" type="text/css" />
<style>
table.register {
	margin:150px 200px;
	width:350px;
}
table.register td {
	font-size:11pt;
}
</style>
{% endblock %}

{% block content %}
<form action="{{ request.path }}" method="POST" autocomplete="off">
<table class="form">
<tr><th colspan=2><h1>Password Reset</h1></th></tr>
{{ form }}
<tr><td>&nbsp;</td><td><input type="submit" value="Reset Password" /></td></tr>
<tr><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td colspan="2" style="text-align:center">Don't have an account? <a href="/account/register/">Register</a> for free.</td></tr>
</table>
</form>
{% endblock %}
