{% extends "base/base.html" %}

{% block title %} | Register on SPIRE{% endblock %}

{% block head %}
<link href="/static/css/schedr-listing.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block breadcrumb %}<span><b style="font-size:12px; line-height:30px;">{{ user.email }}</b></span>{% endblock %}

{% block buttons %}
<li class="right"><a href="http://www.schedr.com/help"><img src="/static/img/help.png" alt="Help"><br>Help</a></li>
<li class="right"><a href="/{{ school.name }}/{{ term.name }}/" title="Back to calendar"><img src="/static/img/back.png"><br>Calendar</a></li>
{% if user.is_staff %}
<li class="right"><a href="http://www.schedr.com/admin"><img src="/static/img/admin.png"><br>Admin</a></li>
{% endif %}
{% endblock %}


{% block content %}
<script src="/static/js/jquery-1.3.1.min.js"></script>
<script>
/*var pause = false;
window.onbeforeunload = function () {
	alert('unload');
	$('#iframe_spire')[0].url = 'https://spire.umass.edu/psp/heproda/EMPLOYEE/HRMS/?cmd=logout';
	$.ajax('https://spire.umass.edu/psp/heproda/EMPLOYEE/HRMS/?cmd=logout', {async: false});
	alert('unload2');
	
}*/
</script>
<table width="100%" cellspacing="0" cellpadding="0"><tr><td width="120" valign="top">
<h2 style="text-align:center;background:#647d8f;color:white;margin:0px;">{{ term }}</h2>
<table width="100%" style="background:#647d8f;color:white;">
{% for course, sections in courses.items %}
<tr><th colspan=2 style="font-size:12px;padding-top:10px;">{{ course }}</th></tr>
{% for section in sections %}
<tr><td style="text-align:right;font-size:12px;">{{ section.get_type_short }}: </td><td><input type="text" value="{{ section.school_id }}" size="5" readonly="1"></td></tr>
{% endfor %}
{% endfor %}
</table><br>
<center><a href="https://spire.umass.edu/psp/heproda/EMPLOYEE/HRMS/?cmd=logout" onclick="$('#iframe_spire')[0].src='https://spire.umass.edu/psp/heproda/EMPLOYEE/HRMS/?cmd=logout';setTimeout('$(\'#iframe_spire\')[0].src=\'https://spire.umass.edu/psc/heproda/EMPLOYEE/HRMS/c/SA_LEARNER_SERVICES.SSR_SSENRL_ADD.GBL?Page=SSR_SSENRL_ADD&Action=A\';', 100);return false;" style="color:red">Click here<br>to log out of SPIRE</a></center>
</td><td><iframe name="spire" frameborder="0" id="iframe_spire" src="https://spire.umass.edu/psc/heproda/EMPLOYEE/HRMS/c/SA_LEARNER_SERVICES.SSR_SSENRL_ADD.GBL?Page=SSR_SSENRL_ADD&Action=A" width="100%" height="550"></td></tr></table>
{% endblock %}
