<html>
<head>
<title>Schedr &raquo; About</title>
<link href="/static/css/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="main">
<div class="container">
<div id="login">
{% if user.is_authenticated %}
<p>Logged in as {{ user.username }} ({{ user.schedruser.school.title }})</p>
<p><a href="/home">My Schedule</a> || <a href="/account/logout">Logout</a></p>
{% else %}
<form action="/account/login/" method="post">
<table class="login">
<tr><th>Username<br>or Email</th><td><input maxlength="75" name="name"></td></tr>
<tr><th>Password</th><td><input type="password" name="password"></td></tr>
<tr><th>&nbsp;</th><th><input type="submit" value="Login"></th></tr>
</table>
<a href="/account/register">Register for free</a>
</form>
{% endif %}
</div>
<a href="/"><img src="/static/img/schedr.png" border=0></a>
</div>
</div>
<div id="info">
<div class="container">
<h1 style="text-align:center">About Schedr...</h1>
<div style="padding:20px;font-size:16px;">
<p>Schedr is a web application designed to help students plan their course schedule. It provides a visual drag-and-drop interface, which turns what was once a frustrating process quick and painless.</p>
<p>Schedr was started in the Winter of 2006 and has gone through a number of iterations. It's currently written in <a href="http://www.python.org/">Python</a> using the fantastic <a href="http://www.djangoproject.org/">Django</a> framework.</p>
<p>Are you interested in having Schedr support your school? Drop us a line at <a href="mailto:tpetr@schedr.com">tpetr@schedr.com</a></p>

</div>
</div>
</div>
<div id="footer">
<div class="container">
<ul>
<li><a href="/info/about">About</a></li>
<li><a href="/info/press">Press</a></li>
<li><a href="/info/contact">Contact</a></li>
<li>&copy; Schedr.com 2007-2009</li>
</ul>
<ul>
<li><a href="http://www.facebook.com/pages/Schedr/43331106562" target="_blank">Facebook</a></li>
<li><a href="http://www.twitter.com/schedr" target="_blank">Twitter</a></li>
</ul>
<ul style="text-align:right">
<!-- <li><a href="http://www.djangoproject.com/" target="_blank"><img src="http://media.djangoproject.com/img/badges/djangomade124x25.gif" border="0" alt="Made with Django." title="Made with Django." /></a></li>
<li><a href="http://www.jquery.com/"><img src="http://drupal.org/files/images/jq.png" border="0"></a></li> -->
</ul>
</div>
</div>
</body>
</html>
