{% extends "base/lobby.html" %}

{% block picture %} padding:15px; height:270px; {% endblock %}

{% block calendar %}
<ul class="calendar">
<li><span><b>Tue, Feb. 3</b><br>First day of classes</span></li>
<li><span><b>Fri, Mar. 6</b><br>Last day to add subjects to Registration</span></li>
<li><span><b>Mon, Mar 23</b><br>Spring break begins</span></li>
<li><a href="http://web.mit.edu/registrar/www/calendar.html">&raquo; More</a></li>
</ul>
{% endblock %}

{% block leaderboard %}
<div style="background:#647d8f; text-align:center;">
<script type="text/javascript"><!--
google_ad_client = "pub-5174361591369676";
/* Schedr 2.0 umass Lobby */
google_ad_slot = "6111435356";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>
{% endblock %}
