<html>
<head>
<title>Finalize</title>
<style>
body {
	margin:0px;
	padding:0px;
	background:#647d8f;
	color:white;
}
h1,h2 {
	padding:0px;
	margin:0px;
}
th {
	text-align:center;
}
td {
	text-align:right;
	width:50%;
}
td.right {
	text-align:left;
}
a {
	color:white;
}
</style>
</head>
<body>
<h2 style="text-align:center">{{ term }}</h2>
<div style="text-align:center;color:white;padding:10px 0px;">
<a href="/{{ school.name }}/{{ term.name }}/" target="frameset">&larr; Back to calendar</a>
</div>
<table>
{% for course, sections in courses.items %}
<tr><th colspan=2>{{ course }}</th></tr>
{% for section in sections %}
<tr><td>{{ section.get_type_short }}: </td><td class="right"><input type="text" value="{{ section.school_id }}" size="5" readonly="1"></td></tr>
{% endfor %}
{% endfor %}
</table>
</body>
</html>
